<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text text-logo">Formations</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#" class="menu-link">How It Works</a></li>
      <li><a href="#" class="menu-link">Why Formations</a></li>
      <li><a href="#" class="sign-in">Sign In</a></li>
    </ul>
  </div>
</div>
<div class="home-cover">
  <p class="cover-text">Web Application for Choreography Blocking</p>
</div>
<div class="how-it-works">
  <p class="section-title">How It Works</p>
</div>
<div class="why-formations">
  <p class="section-title">Why Formations</p>
</div>
<footer class="footer">
  <p>&copy; Created by <a href="https://github.com/shawnshuang">Shawn Huang</a></p>
</footer>