<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Mations</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Account</a></li>
    </ul>
  </div>
</div>
<div class="editor-wrapper">
  <div id="filmstrip">
  </div>
  <canvas id="formationsCanvas">
  </canvas>
  <canvas id="peopleCanvas">
  </canvas>
</div>