<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/" id="logo-text">Mations</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Account</a></li>
    </ul>
  </div>
</div>
<div id="editor-wrapper">
  <div id="filmstrip">
    <button type="button" id="new-formation-btn">+ New formation</button>
  </div>
  <canvas id="canvas">
  </canvas>
  <div id="members-panel">
    <p id="members-panel-title">Members</p>
    <div class="clearfix" id ="members-container">
      <div class="indiv-member-container">
        <div class="member-icon" id="chrystina"></div>
        <p class="member-name">Chrystina</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="gordon"></div>
        <p class="member-name">Gordon</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="jordan"></div>
        <p class="member-name">Jordan</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="june"></div>
        <p class="member-name">June</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="kathy"></div>
        <p class="member-name">Kathy</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="kelly"></div>
        <p class="member-name">Kelly</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="mel"></div>
        <p class="member-name">Mel</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="michael"></div>
        <p class="member-name">Michael</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="mindy"></div>
        <p class="member-name">Mindy</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="paul"></div>
        <p class="member-name">Paul</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="robert"></div>
        <p class="member-name">Robert</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="serena"></div>
        <p class="member-name">Serena</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-icon" id="shuang"></div>
        <p class="member-name">Shuang</p>
      </div>
    </div>
  </div>
</div>