<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a href="/" class="menu-text">Mations</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">Account</a></li>
    </ul>
  </div>
</div>
<div class="editor-wrapper">
  <div id="filmstrip">
  </div>
  <canvas id="formation-canvas">
  </canvas>
  <div id="members-panel">
    <p id="members-panel-title">Members</p>
    <div class="members-container clearfix">
      <div class="indiv-member-container">
        <div class="member-picture chrystina" draggable="true"></div>
        <p class="member-name">Chrystina</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture gordon" draggable="true"></div>
        <p class="member-name">Gordon</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture jordan" draggable="true"></div>
        <p class="member-name">Jordan</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture june" draggable="true"></div>
        <p class="member-name">June</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture kathy" draggable="true"></div>
        <p class="member-name">Kathy</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture kelly" draggable="true"></div>
        <p class="member-name">Kelly</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture mel" draggable="true"></div>
        <p class="member-name">Mel</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture michael" draggable="true"></div>
        <p class="member-name">Michael</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture mindy" draggable="true"></div>
        <p class="member-name">Mindy</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture paul" draggable="true"></div>
        <p class="member-name">Paul</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture robert" draggable="true"></div>
        <p class="member-name">Robert</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture serena" draggable="true"></div>
        <p class="member-name">Serena</p>
      </div>
      <div class="indiv-member-container">
        <div class="member-picture shuang" draggable="true"></div>
        <p class="member-name">Shuang</p>
      </div>
    </div>
  </div>
</div>