<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text text-logo">Mations</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#" class="menu-link">How It Works</a></li>
      <li><a href="#" class="menu-link">Why Formations</a></li>
      <li><a href="/editor" class="sign-in">Sign In</a></li>
    </ul>
  </div>
</div>
<div class="home-banner">
  <!--<div class="dark-filter">-->
    <!--<p class="banner-text">Web Application for<br>Choreography Blocking</p>-->
    <img src="<%= asset_path('home_banner.jpg') %>" class="banner-image">
  <!--</div>-->
</div>
<div class="how-it-works">
  <p class="section-title">How It Works</p>
</div>
<div class="why-formations">
  <p class="section-title">Why Formations</p>
</div>
<footer class="footer">
  <p>&copy; Created by <a href="https://github.com/shawnshuang">Shawn Huang</a></p>
</footer>