html {
    -webkit-user-select: none;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    body {
        font-family: 'Lato', sans-serif;
        height: 100vh;
    }
}

/* Nav bar styling specific to the editor page */

.editor {
    .navbar {
        background-color: #37474F;
        height: 40px;
        padding: 0px;
        #logo-text {
            color: white;
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 20px;
            margin-top: 8px;
            padding: 0px;
        }
        .navbar-right {
            a {
                color: white;
                font-weight: bold;
                margin-top: 12px;
                margin-right: 20px;
                padding: 0px;
            }
        }
    }
}

/* Styling for main canvas */

#editor-wrapper {
    display: flex;
    flex-flow: row;
    min-height: calc(100% - 40px);
    position: relative;
    /* z-index: 0; */
    #canvas {
        background-color: #556E7B;
        float: left;
        margin: 10px 0 10px 0;
    }
}

/* Styling for filmstrip */

#filmstrip {
    background-color: #556E7B;
    /* box-shadow: 2px 49px 5px rgba(0, 0, 0, 0.26); */
    float: left;
    margin: 0 10px 0 0;
    width: 14%;
    /* z-index: 1; */
    #new-formation-btn {
        background-color: #546E7A;
        /* box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12); */
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
        color: #EA584D;
        display: block;
        font-size: 2.5em;
        font-weight: bold;
        left: 50%;
        line-height: 35px;
        position: relative;
        transform: translateX(-50%);
        transition: all .2s ease;
        width: 100%;
        z-index: 1;
        &:hover {
            background-color: #59838D;
            color: #F48273;
        }
        &:focus {
            outline: 0;
        }
    }
    .preview-slide-container{
        position: relative;
        .slide-numbering {
            bottom: 70px;
            color: #404040;
            cursor: default;
            font-weight: bold;
            left: 12px;
            position: relative;
        }
        .preview-slide {
            background-color: white;
            border-color: #A0A0A0;
            border-style: solid;
            border-width: 2px;
            margin-left: 17px;
            margin-top: 6px;
        }
        .delete-formation-btn {
            -webkit-transition: opacity 0.2s linear;
            background-color: red;
            border-color: #FFFFFF;
            border-radius: 10em;
            border-style: solid;
            border-width: 2px;
            color: #FFFFFF;
            font-weight: bold;
            opacity: 0;
            padding: 0px 3px 0px 3px;
            left: 142px;
            position: absolute;
            top: 1px;
            &:focus {
                outline: 0;
            }
            &:active {
                top: 2px;
            }
        }
    }
}

/* Styling for members panel */

.clearfix:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#members-panel {
    background-color: #556E7B;
    /* box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.26); */
    float: left;
    margin: 0 0 0 10px;
    width: 20%;
    #members-panel-title {
        border-bottom-color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        color: #FFFFFF;
        cursor: default;
        font-weight: bold;
        margin: 0px 15px 0px 15px;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }
}

#members-container {
    margin: 15px 0px 0px 15px;
    .indiv-member-container {
        -webkit-transition: height 0.2s ease;
        float: left;
        height: 60px;
        margin: 0px 9px 0px 9px;
        width: 40px;
        .member-icon {
            -webkit-transition: opacity 0.4s linear 0s;
            background-color: #FFFFFF;
            border-color: #FFFFFF;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            display: block;
            height: 40px;
            overflow: hidden;
            position: absolute;
            width: 40px;
            z-index: 1;
            &:hover {
                cursor: -webkit-grab;
            }
            &:active {
                cursor: -webkit-grabbing;
            }
        }
        .member-name {
            -webkit-transition: opacity .3s ease-in-out;
            color: #FFFFFF;
            font-size: 0.7em;
            font-weight: bold;
            margin-left: -100%;
            margin-right: -100%;
            margin-top: 40px;
            opacity: 1;
            text-align: center;
        }
        #chrystina:before {
            background-image: image-url("chrystina.jpg");
        }
        #chrystina:after {
            content: 'C. Yu';
        }
        #gordon:before {
            background-image: image-url("gordon.jpg");
        }
        #gordon:after {
            content: 'Gordon';
        }
        #jordan:before {
            background-image: image-url("jordan.jpg");
        }
        #jordan:after {
            content: 'Jordan';
        }
        #june:before {
            background-image: image-url("june.jpg");
        }
        #june:after {
            content: 'June';
        }
        #kathy:before {
            background-image: image-url("kathy.jpg");
        }
        #kathy:after {
            content: 'Kathy';
        }
        #kelly:before {
            background-image: image-url("kelly.jpg");
        }
        #kelly:after {
            content: 'Kelly';
        }
        #mel:before {
            background-image: image-url("mel.jpg");
        }
        #mel:after {
            content: 'Mel';
        }
        #michael:before {
            background-image: image-url("michael.jpg");
        }
        #michael:after {
            content: 'Michael';
        }
        #mindy:before {
            background-image: image-url("mindy.jpg");
        }
        #mindy:after {
            content: 'Mindy';
        }
        #paul:before {
            background-image: image-url("paul.jpg");
        }
        #paul:after {
            content: 'Paul';
        }
        #robert:before {
            background-image: image-url("robert.jpg");
        }
        #robert:after {
            content: 'Robert';
        }
        #serena:before {
            background-image: image-url("serena.jpg");
        }
        #serena:after {
            content: 'Serena';
        }
        #shuang:before {
            background-image: image-url("shuang.jpg");
        }
        #shuang:after {
            content: 'Shuang';
        }
    }
}

.member-icon:before {
    -webkit-transition: left 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 40px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.member-icon:after {
    -webkit-transition: left 0.3s ease-in-out;
    background-color: #EA584D;
    color: white;
    font-size: 0.65em;
    font-weight: bold;
    left: 100%;
    line-height: 36px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.names:before {
    left: -100%;
}

.names:after {
    left: 0px;
}

/* Styling for member icon toggle button
 * Based off of: http://codepen.io/mallendeo/pen/eLIiG */
 
#toggle-container {
    background-color: white;
    position: absolute;
}

.member-icon-toggle {
    display: none;
}

#toggle-btn {
    -webkit-transition: left .29s ease-in-out, background .29s ease-in-out;
    background-color: #EA584D;
    border-color: #FFFFFF;
    border-radius: 35px;
    border-style: solid;
    border-width: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 36px;
    line-height: 30px;
    margin-left: 145px;
    margin-top: 260px;
    overflow: hidden;
    position: relative;
    width: 100px;
    &:before, &:after {
        -webkit-transition: left .29s ease-in-out, background .29s ease-in-out;
        position: absolute;
        width: 100%;
    }
    &:before {
        content: 'Photos';
        left: 11px;
    }
    &:after {
        content: 'Names';
        left: 110px;
    }
    #toggle-pivot {
        -webkit-transition: left .29s ease-in-out;
        background-color: #556E7B;
        border-radius: 26px;
        content: " ";
        height: 26px;
        left: 67px;
        position: absolute;
        top: 3px;
        width: 26px;
        z-index: 1;
    }
}

.member-icon-toggle:checked + #toggle-btn {
    background-color: #90A4AE;
}

.member-icon-toggle:checked + #toggle-btn:before {
    left: -60px;
}

.member-icon-toggle:checked + #toggle-btn:after {
    left: 37px;
}

.member-icon-toggle:checked + #toggle-btn #toggle-pivot {
    left: 3px;
}

/* Styling for drag and drop interaction */

.being-dragged {
    opacity: 0.2;
}