html {
    -webkit-user-select: none;
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    body {
        font-family: 'Lato', sans-serif;
        height: 100vh;
    }
}

/* Nav bar styling specific to the editor page */

.editor {
    .top-bar {
        background-color: #556170;
        padding: 0px 10px 0px 10px;
        #logo-text {
            color: white;
            font-weight: bold;
            font-size: 1.5em;
        }
        .top-bar-right {
            margin-top: 4px;
            a {
                color: white;
                font-weight: bold;
            }
        }
    }
}

/* Styling for main canvas */

#editor-wrapper {
    display: flex;
    flex-flow: row;
    min-height: calc(100% - 46px);
    position: relative;
    #canvas {
        background-color: #D3DBDE;
        float: left;
        margin: 10px 0 10px 0;
    }
}

/* Styling for filmstrip */

#filmstrip {
    background-color: #D66860;
    float: left;
    margin: 0 10px 0 0;
    width: 13%;
    #new-formation-btn {
        border-color: white;
        border-radius: 10px;
        border-style: solid;
        border-width: 2px;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
        left: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 8px 25px 8px 25px;
        position: relative;
        transform: translateX(-50%);
        transition: all .2s linear 0s;
        &:hover {
            background-color: white;
            color: #D66860;
            font-weight: bold;
        }
        &:focus {
            outline: 0;
        }
    }
    .preview-slide-container{
        position: relative;
        .slide-numbering {
            bottom: 70px;
            color: #404040;
            cursor: default;
            font-weight: bold;
            left: 12px;
            position: relative;
        }
        .preview-slide {
            background-color: white;
            border-color: #808080;
            border-style: solid;
            border-width: 2px;
            margin-left: 17px;
            margin-top: 6px;
        }
        .delete-formation-btn {
            -webkit-transition: opacity 0.2s linear;
            background-color: #E54E4E;
            border-color: #FFFFFF;
            border-radius: 10em;
            border-style: solid;
            border-width: 2px;
            color: #FFFFFF;
            font-weight: bold;
            opacity: 0;
            padding: 0px 3px 0px 3px;
            position: absolute;
          
            left: 142px;
            top: 1px;
            &:active {
                top: 2px;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

/* Styling for member icon toggle button
 * Based off of: http://codepen.io/mallendeo/pen/eLIiG */
#toggle-container {
    background-color: white;
    position: absolute;
    .member-icon-toggle {
        display: none;
    }
    #toggle-btn {
        -webkit-transition: left .2s ease, background .2s ease;
        background-color: #96A3B3;
        color: #FFFFFF;
        cursor: pointer;
        display: block;
        font-weight: bold;
        overflow: hidden;
        position: relative;
        &:before, &:after {
            -webkit-transition: left .2s ease, background .2s ease;
            position: absolute;
            text-align: center;
            width: 100%;
        }
        &:before {
            content: 'Photos';
            left: 0;
        }
        &:after {
            content: 'Names';
            left: 100%;
        }
    }
    .member-icon-toggle:checked + #toggle-btn {
        background-color: #E6A39E;
    }
    .member-icon-toggle:checked + #toggle-btn:before {
        left: -100%;
    }
    .member-icon-toggle:checked + #toggle-btn:after {
        left: 0;
    }
}

/* Styling for members panel */

.clearfix:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#members-panel {
    background-color: #D66860;
    float: left;
    margin: 0 0 0 10px;
    width: 20%;
    #members-panel-title {
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        color: white;
        font-weight: bold;
        margin: 0px 15px 0px 15px;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }
}

#members-container {
    margin: 15px 0px 0px 15px;
    .indiv-member-container {
        -webkit-transition: height 0.2s ease;
        float: left;
        height: 60px;
        margin: 0px 9px 0px 9px;
        width: 40px;
        .member-icon {
            -webkit-transition: opacity 0.4s linear 0s;
            background-color: #96A3B3;
            border-color: #556170;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            display: block;
            height: 40px;
            overflow: hidden;
            position: absolute;
            width: 40px;
            z-index: 1;
            &:hover {
                cursor: -webkit-grab;
            }
            &:active {
                cursor: -webkit-grabbing;
            }
        }
        .member-name {
            color: white;
            font-size: 0.7em;
            margin-left: -100%;
            margin-right: -100%;
            margin-top: 40px;
            text-align: center;
        }
        #chrystina:before {
            background-image: image-url("chrystina.jpg");
        }
        #chrystina:after {
            content: 'C. Yu';
        }
        #gordon:before {
            background-image: image-url("gordon.jpg");
        }
        #gordon:after {
            content: 'Gordon';
        }
        #jordan:before {
            background-image: image-url("jordan.jpg");
        }
        #jordan:after {
            content: 'Jordan';
        }
        #june:before {
            background-image: image-url("june.jpg");
        }
        #june:after {
            content: 'June';
        }
        #kathy:before {
            background-image: image-url("kathy.jpg");
        }
        #kathy:after {
            content: 'Kathy';
        }
        #kelly:before {
            background-image: image-url("kelly.jpg");
        }
        #kelly:after {
            content: 'Kelly';
        }
        #mel:before {
            background-image: image-url("mel.jpg");
        }
        #mel:after {
            content: 'Mel';
        }
        #michael:before {
            background-image: image-url("michael.jpg");
        }
        #michael:after {
            content: 'Michael';
        }
        #mindy:before {
            background-image: image-url("mindy.jpg");
        }
        #mindy:after {
            content: 'Mindy';
        }
        #paul:before {
            background-image: image-url("paul.jpg");
        }
        #paul:after {
            content: 'Paul';
        }
        #robert:before {
            background-image: image-url("robert.jpg");
        }
        #robert:after {
            content: 'Robert';
        }
        #serena:before {
            background-image: image-url("serena.jpg");
        }
        #serena:after {
            content: 'Serena';
        }
        #shuang:before {
            background-image: image-url("shuang.jpg");
        }
        #shuang:after {
            content: 'Shuang';
        }
    }
}

.member-icon:before {
    -webkit-transition: left 0.2s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 40px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.member-icon:after {
    -webkit-transition: left 0.2s ease;
    background-color: #E6A39E;
    color: white;
    font-size: 0.65em;
    left: 100%;
    line-height: 36px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.names:before {
    left: -100%;
}

.names:after {
    left: 0px;
}

/* Styling for drag and drop interaction */

.being-dragged {
    opacity: 0.2;
}