html {
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
    body {
        font-family: 'Lato', sans-serif;
        height: 100vh;
    }
}

/* Nav bar styling specific to the editor page */
.editor {
    .top-bar {
        background-color: #343C46;
        padding: 0px 10px 0px 10px;
        .menu-text {
            color: white;
            font-weight: bold;
            font-size: 1.5em;
        }
        .top-bar-right {
            margin-top: 4px;
            a {
                color: white;
                font-weight: bold;
            }
        }
    }
}

/* Styling for editor canvas & tool panels */
.editor-wrapper {
    display: flex;
    flex-flow: row;
    min-height: calc(100% - 46px);
    #filmstrip {
        background-color: #717B8C;
        float: left;
        margin: 0 10px 0 0;
        width: 10%;
    }
    #formationsCanvas {
        background-color: #C6D0DF;
        float: left;
        margin: 10px 0 10px 0;
    }
    #peopleCanvas {
        background-color: #717B8C;
        float: left;
        margin: 0 0 0 10px;
    }
}